.unbreakable-container
{
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: -10px;
}

.unbreakable
{
    font-family: 'Montserrat', sans-serif;
    line-height: 1;

    letter-spacing: 1em;

    color: #fff;
}

.ks
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-left: 1.5px;
    line-height: 1;

    -webkit-transition: all .1s ease-in-out;
            transition: all .1s cubic-bezier(.190, 1.000, .220, 1.000) 1s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: white;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    opacity: 0;
    color: yellow;

    filter: alpha(opacity=0);
}

.break
{
    -webkit-transition: all .3s ease-in-out 0.3s;
            transition: all .3s ease-in-out 0.3s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 0.3s;
            transition: all .3s ease-in-out 0.3s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 45px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 45px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

