.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
 }
 
 .menu__icon span {
   display: block;
   position: absolute;
   height: 9px;
   width: 100%;
   background: yellow;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
 }
 
 .menu__icon span:nth-child(1) {
   top: 0px;
 }
 
 .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
   top: 13px;
 }
 
 .menu__icon span:nth-child(4) {
   top: 26px;
  }
 
 .menu__links-item {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 40px;
 }
 
 .menu__links-item:hover {
     color: yellow;
 }

 .dropdown {
   display: inline-block;
   padding-right: 20px;
 }
//  -----
 .menu.menu_state_open .menu__icon span:nth-child(1) {
   top: 18px;
   width: 0%;
   left: 50%;
 }
 
 .menu.menu_state_open .menu__icon span:nth-child(2) {
   transform: rotate(45deg);
 }
 
 .menu.menu_state_open  .menu__icon span:nth-child(3) {
   transform: rotate(-45deg);
 }
 
 .menu.menu_state_open  .menu__icon span:nth-child(4) {
   top: 18px;
   width: 0%;
   left: 50%;
 }
 
 .menu.menu_state_open #menu__links {
   display: block;  
 }

 
 @media screen and (max-width: 999px) {
   .menu__icon{
     display: inline-block;
     margin-top: 50px;
     margin-right: 20px;
     
   }
   @media screen and (max-width: 999px) {
     .conctainer{
       display: flex;
       flex-direction: column;
       
     }
   }
     @media screen and (max-width: 999px) {
       .contact{
         display: block;
         display: flex;
         flex-direction: column;
         justify-content: flex-start ;
         
       }
     }
 
       @media (max-width: 400px){
         .menu__links-item{
           display: block;
           width: 100vw;
           margin-top: 35px;
         }
       }
 
 
   #menu__links {
     position: absolute;
     display: none;
     top: 0;
     right: 0;
     left: 0;
     margin-top: 110px;
     background-color: #002c66;
     z-index: 1000;
     overflow: auto;
     line-height: 0;
   }
   
   .menu__links-item {
     display: block;
     padding: 10px 0;
     text-align: center;
     color: #ffffff;
   }
 }
 @media (min-width:768px) and (max-width:869px) {
   #menu__links {
     margin-top: 135px;
   }
 }
 @media (max-width:768px) {
   #menu__links {
     margin-top: 177px;
   }
 }
 @media (max-width:471px) {
   #menu__links {
     margin-top: 165px;
   }
 }
 @media (max-width:399px) {
   #menu__links {
    margin-top: 140px;
    width: 100vw;
    height: 57%;
    text-align: center;
   }
   .dropdown {
     padding-left: 40px;
     padding-top: 25px;
   }
 }
 @media (max-width: 300px){
   #menu__links-item{
     display: block;
     width: 50vw;
   }
 }