* {
  box-sizing: border-box;
  margin: 0; }

.unbreakable-container {
  width: 200px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: -10px; }

.unbreakable {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  letter-spacing: 1em;
  color: #fff; }

.ks {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 1.5px;
  line-height: 1;
  -webkit-transition: all .1s ease-in-out;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -webkit-transform: translateX(-1000%);
  -ms-transform: translateX(-1000%);
  transform: translateX(-1000%);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white; }

.animate .ks {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0;
  color: yellow;
  filter: alpha(opacity=0); }

.break {
  -webkit-transition: all .3s ease-in-out 0.3s;
  transition: all .3s ease-in-out 0.3s;
  letter-spacing: -.07em; }

.un {
  -webkit-transition: all .3s ease-in-out 0.3s;
  transition: all .3s ease-in-out 0.3s;
  letter-spacing: -.07em; }

.animate .un {
  font-size: 45px;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  opacity: 1;
  filter: alpha(opacity=100); }

.animate .break {
  font-size: 45px;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  opacity: 1;
  filter: alpha(opacity=100); }

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer; }

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: yellow;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px; }

.menu__icon span:nth-child(4) {
  top: 26px; }

.menu__links-item {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 40px; }

.menu__links-item:hover {
  color: yellow; }

.dropdown {
  display: inline-block;
  padding-right: 20px; }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open #menu__links {
  display: block; }

@media screen and (max-width: 999px) {
  .menu__icon {
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px; } }
@media screen and (max-width: 999px) and (max-width: 999px) {
  .conctainer {
    display: flex;
    flex-direction: column; } }
@media screen and (max-width: 999px) and (max-width: 999px) {
  .contact {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; } }
@media screen and (max-width: 999px) and (max-width: 400px) {
  .menu__links-item {
    display: block;
    width: 100vw;
    margin-top: 35px; } }
@media screen and (max-width: 999px) {
  #menu__links {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 110px;
    background-color: #002c66;
    z-index: 1000;
    overflow: auto;
    line-height: 0; }

  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff; } }
@media (min-width: 768px) and (max-width: 869px) {
  #menu__links {
    margin-top: 135px; } }
@media (max-width: 768px) {
  #menu__links {
    margin-top: 177px; } }
@media (max-width: 471px) {
  #menu__links {
    margin-top: 165px; } }
@media (max-width: 399px) {
  #menu__links {
    margin-top: 140px;
    width: 100vw;
    height: 57%;
    text-align: center; }

  .dropdown {
    padding-left: 40px;
    padding-top: 25px; } }
@media (max-width: 300px) {
  #menu__links-item {
    display: block;
    width: 50vw; } }
header {
  width: 100%;
  height: 100vh;
  background: url(../img/header/base.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.top {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.bottom {
  padding-top: 3%;
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  display: flex; }
  .bottom .box-left {
    height: 500px;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .bottom .box-left a {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: yellow;
      text-decoration: none;
      text-transform: uppercase;
      margin: 15px; }
    .bottom .box-left p {
      color: yellow;
      font-size: 14px;
      margin-bottom: 1px; }
    .bottom .box-left .fa-angle-left {
      color: yellow;
      padding-left: 5%;
      margin: 20px; }
    .bottom .box-left .fa-angle-right {
      color: yellow;
      margin: 20px; }
  .bottom .box-right {
    height: 500px;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .bottom .box-right h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      color: white;
      font-weight: bold;
      transform: translate(91%, -13%);
      text-align: right; }
    .bottom .box-right a {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: yellow;
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      transform: translate(52%, 378%); }
    .bottom .box-right .ring {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 20px;
      margin-top: 20px; }

.section-1 {
  width: 1170px;
  height: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-1 .box-l-section-1 {
    width: 46%;
    align-items: center;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 19px; }
    .section-1 .box-l-section-1 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: #002c66;
      font-weight: 700;
      text-transform: uppercase;
      margin: 15px; }
    .section-1 .box-l-section-1 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: gray;
      margin: 15px; }
    .section-1 .box-l-section-1 p {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: #303030;
      margin: 15px; }
    .section-1 .box-l-section-1 a {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: #002c66;
      text-transform: uppercase;
      text-decoration: underline;
      margin: 15px; }
    .section-1 .box-l-section-1 a:hover {
      color: yellow; }
  .section-1 .box-r-section-1 {
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-1 .box-r-section-1 .square-1 {
      width: 270px;
      height: 524px;
      margin-left: 30px;
      background: yellow;
      z-index: -1;
      position: absolute; }
    .section-1 .box-r-section-1 .square-2 {
      width: 500px;
      height: 320px;
      background-image: url(../img/sect-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(-117px, 104px); }

.section-2-bg {
  width: 100%;
  background: #ececec; }

.section-2 {
  width: 1170px;
  height: 686px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-2 .box-l-section-2 {
    width: 54%;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 44px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-2 .box-l-section-2 .sect-2-img {
      width: 550px;
      height: 486px;
      background-image: url(../img/sect-222.jpg);
      background-size: auto;
      background-repeat: no-repeat; }
  .section-2 .box-r-section-2 {
    width: 50%;
    align-items: center;
    margin: 0 4%;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 18px; }
    .section-2 .box-r-section-2 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: #002c66;
      font-weight: 700;
      text-transform: uppercase;
      margin: 15px 10px; }
    .section-2 .box-r-section-2 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: gray;
      margin: 15px 10px; }
    .section-2 .box-r-section-2 p {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: #303030;
      margin: 15px 10px; }
    .section-2 .box-r-section-2 a {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: #002c66;
      text-transform: uppercase;
      text-decoration: underline;
      margin: 15px 10px; }
    .section-2 .box-r-section-2 a:hover {
      color: yellow; }

.section-3 {
  width: 100%;
  height: 90px;
  background: #002c66;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-3 .contact-now {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-3 .contact-now h4 {
      color: white;
      margin-left: 30px;
      font-weight: 400; }
    .section-3 .contact-now .btn-contact-now {
      width: 180px;
      height: 40px;
      background: yellow;
      border-radius: 5px 5px;
      border: none;
      margin-right: 20px; }
      .section-3 .contact-now .btn-contact-now a {
        color: #002c66;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        font-weight: bold; }
    .section-3 .contact-now .btn-contact-now:hover {
      width: 190px;
      height: 45px; }
      .section-3 .contact-now .btn-contact-now:hover a {
        text-decoration: none; }

.section-4 {
  width: 100%;
  height: 688px;
  display: grid;
  align-items: flex-start;
  justify-content: center; }
  .section-4 .box-top-section-4 {
    width: 1170px;
    height: 210px;
    padding-top: 90px;
    margin: 10px 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .section-4 .box-top-section-4 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: #002c66;
      text-transform: uppercase;
      font-weight: bold; }
    .section-4 .box-top-section-4 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: gray; }
  .section-4 .box-bottom-section-4 {
    width: 1170px;
    height: 460px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .section-4 .box-bottom-section-4 .box-sec-4 {
      width: 350px;
      margin: 0 15px; }
      .section-4 .box-bottom-section-4 .box-sec-4 .img-box-sec-4 {
        width: 350px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat; }
      .section-4 .box-bottom-section-4 .box-sec-4 h2 {
        margin: 25px 0 20px 0;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        color: #002c66;
        text-transform: uppercase;
        font-weight: bold; }
      .section-4 .box-bottom-section-4 .box-sec-4 p {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: #303030; }

.section-5 {
  width: 100%;
  height: 360px;
  background: #002c66;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-5 .box-section-5 {
    width: 1170px;
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-5 .box-section-5 .box-sec-5 {
      margin: 40px; }
      .section-5 .box-section-5 .box-sec-5 h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        letter-spacing: 8px; }
      .section-5 .box-section-5 .box-sec-5 p {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px; }

.section-6 {
  width: 1170px;
  height: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-6 .box-l-section-6 {
    width: 55%;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-6 .box-l-section-6 .square-1 {
      width: 270px;
      height: 524px;
      margin-left: 0px;
      background: yellow;
      z-index: -1;
      position: absolute; }
    .section-6 .box-l-section-6 .square-2 {
      width: 500px;
      height: 320px;
      transform: translate(-117px, 120px); }
      .section-6 .box-l-section-6 .square-2 #movie {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1; }
    @supports (object-fit: cover) {
      .section-6 .box-l-section-6 #movie-bg > video {
        width: 100%;
        height: 100%;
        object-fit: cover; } }
  .section-6 .box-r-section-6 {
    width: 50%;
    align-items: center;
    margin-left: 15px;
    margin-right: 40px;
    margin-bottom: -11px; }
    .section-6 .box-r-section-6 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: #002c66;
      font-weight: 700;
      text-transform: uppercase;
      margin: 15px; }
    .section-6 .box-r-section-6 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: gray;
      margin: 15px; }
    .section-6 .box-r-section-6 p {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: #303030;
      margin: 15px; }
    .section-6 .box-r-section-6 a {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: #002c66;
      text-transform: uppercase;
      text-decoration: underline;
      margin: 15px; }
    .section-6 .box-r-section-6 a:hover {
      color: yellow; }

.section-7 {
  height: 540px;
  width: 100%;
  background: #002c66;
  display: inline-block;
  align-items: center;
  justify-content: center; }
  .section-7 .box-section-7 {
    height: 540px;
    width: 100%;
    padding-top: 6%;
    margin: 0 auto;
    text-align: center; }
    .section-7 .box-section-7 h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 65px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      letter-spacing: 4px; }
    .section-7 .box-section-7 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: white;
      line-height: 40px; }
    .section-7 .box-section-7 h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: white;
      font-weight: bold;
      margin-top: 80px; }

.section-8 {
  width: 100%;
  height: 800px;
  display: grid;
  align-items: flex-start;
  justify-content: center; }
  .section-8 .box-top-section-8 {
    width: 1170px;
    height: 210px;
    padding-top: 100px;
    margin: 10px 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .section-8 .box-top-section-8 h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      color: #002c66;
      text-transform: uppercase;
      font-weight: bold; }
    .section-8 .box-top-section-8 h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      color: gray; }
  .section-8 .box-bottom-section-8 {
    width: 1170px;
    height: 460px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .section-8 .box-bottom-section-8 .box-sec-8 {
      width: 350px;
      margin: 0 15px; }
      .section-8 .box-bottom-section-8 .box-sec-8 .img-box-sec-8 {
        width: 350px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat; }
      .section-8 .box-bottom-section-8 .box-sec-8 h6 {
        margin: 25px 0 15px 35px;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: #002c66;
        text-transform: uppercase;
        font-weight: bold; }
      .section-8 .box-bottom-section-8 .box-sec-8 .footer-info {
        margin-left: 35px;
        margin-bottom: 10px; }
        .section-8 .box-bottom-section-8 .box-sec-8 .footer-info a {
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          color: #002c66; }
      .section-8 .box-bottom-section-8 .box-sec-8 .fa-map-marker-alt {
        color: #002c66;
        margin-right: 15px; }
      .section-8 .box-bottom-section-8 .box-sec-8 .fa-mobile-alt {
        color: #002c66;
        margin-right: 15px; }
      .section-8 .box-bottom-section-8 .box-sec-8 .fa-envelope {
        color: #002c66;
        margin-right: 9px; }

.section-9 {
  width: 100%;
  height: 80px;
  background: #002c66;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-9 .box-section-9 {
    width: 1170px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-9 .box-section-9 h6 {
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      color: white;
      margin-left: 30px; }
      .section-9 .box-section-9 h6 a {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: yellow; }
    .section-9 .box-section-9 .social-networks {
      margin-right: 30px; }
      .section-9 .box-section-9 .social-networks .fa-facebook-f {
        color: white;
        margin-left: 10px; }
      .section-9 .box-section-9 .social-networks .fa-twitter {
        color: white;
        margin-left: 10px; }
      .section-9 .box-section-9 .social-networks .fa-google-plus-g {
        color: white;
        margin-left: 10px; }
      .section-9 .box-section-9 .social-networks .fa-instagram {
        color: white;
        margin-left: 10px; }
      .section-9 .box-section-9 .social-networks .fa-instagram:hover {
        color: #F77737; }
      .section-9 .box-section-9 .social-networks .fa-google-plus-g:hover {
        color: #FD1D1D; }
      .section-9 .box-section-9 .social-networks .fa-twitter:hover {
        color: #00acee; }
      .section-9 .box-section-9 .social-networks .fa-facebook-f:hover {
        color: #3b5998; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #4696ff;
  /* Set a background color */
  color: white;
  /* Text color */
  font-weight: bold;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 5px 25px;
  /* Some padding */
  border-radius: 60px;
  /* Rounded corners */
  font-size: 40px;
  /* Increase font size */ }

#myBtn:hover {
  background-color: #53b2ff;
  /* Add a dark-grey background on hover */ }

@media only screen and (max-width: 1260px) {
  .top {
    width: 100%; } }
@media only screen and (max-width: 1024px) {
  .top {
    width: 96%; } }
@media screen and (max-width: 1170px) {
  .bottom {
    width: 100%; } }
@media screen and (max-width: 1024px) {
  .bottom {
    width: 96%;
    padding-top: 0%;
    padding-bottom: 31%; } }
@media screen and (max-width: 768px) {
  .bottom {
    width: 95%;
    padding-top: 0%;
    padding-bottom: 20%; } }
@media screen and (max-width: 970px) {
  .bottom .box-right a {
    transform: translate(125%, 169%); } }
@media screen and (max-width: 1170px) {
  .bottom .box-right {
    width: 1170px; }

  .bottom .box-left {
    width: 300px; } }
@media screen and (max-width: 1024px) {
  .bottom .box-right {
    width: 840px; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(72%, 330%); }

  .bottom .box-left {
    width: 300px; } }
@media screen and (max-width: 900px) {
  .bottom .box-right {
    width: 730px; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(71%, 340%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 768px) {
  .bottom .box-right {
    width: 694px; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 600px) {
  .bottom .box-right {
    width: 470px; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }
    .bottom .box-right .ring {
      padding: 0px; }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 500px) {
  .bottom .box-right {
    width: 295px;
    margin: 30px 0; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 425px) {
  .bottom .box-right {
    width: 355px;
    margin: 0 0; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 378px) {
  .bottom .box-right {
    width: 330px;
    margin: 0 0; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 320px) {
  .bottom .box-right {
    width: 302.3px;
    margin: -14% 0; }
    .bottom .box-right h1 {
      transform: translate(138%, -17%); }
    .bottom .box-right a {
      transform: translate(125%, 169%); }

  .bottom .box-left {
    width: 0%;
    overflow: hidden; } }
@media screen and (max-width: 1170px) {
  .section-1 {
    width: 90%;
    margin: 0 4%; } }
@media screen and (max-width: 1024px) {
  .section-1 {
    width: 100%;
    flex-wrap: wrap;
    height: 990px;
    padding-top: 0%;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 65%;
      height: 30%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 40%;
      height: 36%; } }
@media screen and (max-width: 900px) {
  .section-1 {
    flex-wrap: wrap;
    height: 990px;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 71%;
      height: 30%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 53%;
      height: 36%; }
    .section-1 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 768px) {
  .section-1 {
    flex-wrap: wrap;
    height: 940px;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 75%;
      height: 34%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 53%;
      height: 47%; }
    .section-1 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 600px) {
  .section-1 {
    flex-wrap: wrap;
    height: 990px;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 85%;
      height: 48%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 81%;
      height: 52%; }
    .section-1 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 500px) {
  .section-1 {
    flex-wrap: wrap;
    height: 1170px;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 90%;
      height: 49%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 88%;
      height: 57%; }
    .section-1 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 425px) {
  .section-1 {
    flex-wrap: wrap;
    height: 968px;
    margin: 0 6%; }
    .section-1 .box-l-section-1 {
      width: 100%;
      height: 47%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 100%;
      height: 40%; }
      .section-1 .box-r-section-1 .square-1 {
        width: 270px;
        height: 455px;
        margin-left: 42px; }
      .section-1 .box-r-section-1 .square-2 {
        width: 425px;
        height: 320px;
        transform: translate(-82px, 87px);
        background-size: contain; } }
@media screen and (max-width: 378px) {
  .section-1 {
    flex-wrap: wrap;
    height: 1054px;
    width: 94%; }
    .section-1 .box-l-section-1 {
      width: 100%;
      height: 47%;
      margin-left: 10px;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 100%;
      height: 35%; }
      .section-1 .box-r-section-1 .square-1 {
        width: 270px;
        height: 455px;
        margin-left: 25px; }
      .section-1 .box-r-section-1 .square-2 {
        width: 390px;
        height: 320px;
        transform: translate(-60px, 100px);
        background-size: contain; } }
@media screen and (max-width: 320px) {
  .section-1 {
    flex-wrap: wrap;
    height: 1120px;
    margin: 0 4%; }
    .section-1 .box-l-section-1 {
      width: 100%;
      height: 54%;
      align-items: flex-end; }
    .section-1 .box-r-section-1 {
      justify-content: flex-start;
      width: 100%;
      height: 35%; }
      .section-1 .box-r-section-1 .square-1 {
        width: 220px;
        height: 450px;
        margin-left: 35px; }
      .section-1 .box-r-section-1 .square-2 {
        width: 330px;
        height: 320px;
        transform: translate(-58px, 120px);
        background-size: contain; } }
@media screen and (max-width: 1170px) {
  .section-2-bg {
    width: 100%; }

  .section-2 {
    width: 90%; } }
@media screen and (max-width: 1024px) {
  .section-2 {
    width: 100%;
    height: 1100px;
    flex-wrap: wrap;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 65%;
      height: 50%;
      margin-right: 80px; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 640px;
        margin-left: -8px; }
    .section-2 .box-r-section-2 {
      width: 65%;
      height: 50%;
      align-items: flex-end; } }
@media screen and (max-width: 900px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1100px;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 103%;
      height: 40%; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 385px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 60%;
      align-items: flex-end; } }
@media screen and (max-width: 768px) {
  .section-2 {
    flex-wrap: wrap;
    height: 990px;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 103%;
      height: 47%;
      margin-right: 40px; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 660px; }
    .section-2 .box-r-section-2 {
      width: 71%;
      height: 60%;
      align-items: flex-end; } }
@media screen and (max-width: 600px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1050px;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 103%;
      height: 40%; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 548px;
        margin-left: -25px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 50%;
      align-items: flex-end; } }
@media screen and (max-width: 500px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1150px;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 103%;
      height: 40%; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 420px;
        margin-left: -19px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 60%;
      align-items: flex-end; } }
@media screen and (max-width: 425px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1150px;
    margin: 0 6%; }
    .section-2 .box-l-section-2 {
      width: 103%;
      height: 40%; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 420px;
        margin-left: -19px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 60%;
      align-items: flex-end; } }
@media screen and (max-width: 378px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1300px;
    margin: 0; }
    .section-2 .box-l-section-2 {
      width: 100%;
      height: 35%;
      margin-right: 0px;
      margin-left: 12px; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 381px;
        margin-left: -19px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 60%;
      align-items: flex-end; } }
@media screen and (max-width: 320px) {
  .section-2 {
    flex-wrap: wrap;
    height: 1360px;
    margin: 0 4%; }
    .section-2 .box-l-section-2 {
      width: 106%;
      height: 33.5%;
      margin-left: -19px; }
      .section-2 .box-l-section-2 .sect-2-img {
        width: 355px;
        margin-left: -19px; }
    .section-2 .box-r-section-2 {
      width: 100%;
      height: 65%;
      align-items: flex-end; } }
@media screen and (max-width: 768px) {
  .section-3 {
    width: 100%;
    height: 90px; }
    .section-3 .contact-now {
      width: 700px; }
      .section-3 .contact-now h4 {
        font-weight: 400; }
      .section-3 .contact-now .btn-contact-now {
        width: 180px;
        height: 50px;
        margin-right: 20px;
        line-height: 20px; }
        .section-3 .contact-now .btn-contact-now a {
          font-size: 19px;
          font-weight: bold; }
      .section-3 .contact-now .btn-contact-now:hover {
        width: 190px;
        height: 45px; }
        .section-3 .contact-now .btn-contact-now:hover a {
          text-decoration: none; } }
@media screen and (max-width: 425px) {
  .section-3 {
    width: 100%;
    height: 90px; }
    .section-3 .contact-now {
      width: 400px; }
      .section-3 .contact-now h4 {
        font-weight: 400;
        font-size: 17px; }
      .section-3 .contact-now .btn-contact-now {
        width: 180px;
        height: 50px;
        line-height: 17px;
        margin-right: 20px; }
        .section-3 .contact-now .btn-contact-now a {
          font-size: 17px;
          font-weight: bold; }
      .section-3 .contact-now .btn-contact-now:hover {
        width: 190px;
        height: 45px; }
        .section-3 .contact-now .btn-contact-now:hover a {
          text-decoration: none; } }
@media screen and (max-width: 320px) {
  .section-3 {
    width: 100%;
    height: 90px; }
    .section-3 .contact-now {
      width: 320px; }
      .section-3 .contact-now h4 {
        font-weight: 400;
        font-size: 17px; }
      .section-3 .contact-now .btn-contact-now {
        width: 180px;
        height: 50px;
        line-height: 17px;
        margin-right: 20px; }
        .section-3 .contact-now .btn-contact-now a {
          font-size: 17px;
          font-weight: bold; }
      .section-3 .contact-now .btn-contact-now:hover {
        width: 190px;
        height: 45px; }
        .section-3 .contact-now .btn-contact-now:hover a {
          text-decoration: none; } }
@media screen and (max-width: 1024px) {
  .section-4 {
    width: 100%;
    height: 1380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-4 .box-top-section-4 {
      width: 1170px;
      height: 120px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-4 .box-bottom-section-4 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-4 .box-bottom-section-4 .box-sec-4 {
        width: 360px;
        margin: 0 15px; }
        .section-4 .box-bottom-section-4 .box-sec-4 .img-box-sec-4 {
          width: 360px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 768px) {
  .section-4 {
    width: 100%;
    height: 1380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-4 .box-top-section-4 {
      width: 1170px;
      height: 120px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-4 .box-bottom-section-4 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-4 .box-bottom-section-4 .box-sec-4 {
        width: 360px;
        margin: 0 15px; }
        .section-4 .box-bottom-section-4 .box-sec-4 .img-box-sec-4 {
          width: 360px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 425px) {
  .section-4 {
    width: 100%;
    height: 1430px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-4 .box-top-section-4 {
      width: 1170px;
      height: 150px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-4 .box-bottom-section-4 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-4 .box-bottom-section-4 .box-sec-4 {
        width: 320px;
        margin: 0 15px; }
        .section-4 .box-bottom-section-4 .box-sec-4 .img-box-sec-4 {
          width: 320px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 320px) {
  .section-4 {
    width: 100%;
    height: 1480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-4 .box-top-section-4 {
      width: 1170px;
      height: 222px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-4 .box-bottom-section-4 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-4 .box-bottom-section-4 .box-sec-4 {
        width: 290px;
        margin: 0 15px; }
        .section-4 .box-bottom-section-4 .box-sec-4 .img-box-sec-4 {
          width: 290px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 768px) {
  .section-5 {
    width: 100%;
    height: 360px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-5 .box-section-5 {
      width: 1170px;
      margin: 0 200px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .section-5 .box-section-5 .box-sec-5 {
        margin: 30px; } }
@media screen and (max-width: 425px) {
  .section-5 {
    width: 100%;
    height: 768px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-5 .box-section-5 {
      width: 1170px;
      margin: 0 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .section-5 .box-section-5 .box-sec-5 {
        margin: 0 auto;
        padding: 30px 0; } }
@media screen and (max-width: 378px) {
  .section-5 {
    width: 100%;
    height: 768px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-5 .box-section-5 {
      width: 1170px;
      margin: 0 122px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .section-5 .box-section-5 .box-sec-5 {
        margin: 0 auto;
        padding: 30px 0; } }
@media screen and (max-width: 320px) {
  .section-5 {
    width: 100%;
    height: 768px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-5 .box-section-5 {
      width: 1170px;
      margin: 0 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .section-5 .box-section-5 .box-sec-5 {
        margin: 0 auto;
        padding: 30px 0; } }
@media screen and (max-width: 1170px) {
  .section-6 {
    width: 90%;
    margin: 0 4%; } }
@media screen and (max-width: 1024px) {
  .section-6 {
    width: 100%;
    flex-wrap: wrap;
    height: 990px;
    padding-top: 0%;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 65%;
      height: 30%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 29%;
      height: 36%; } }
@media screen and (max-width: 900px) {
  .section-6 {
    flex-wrap: wrap;
    height: 990px;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 71%;
      height: 30%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 53%;
      height: 36%; }
    .section-6 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 768px) {
  .section-6 {
    flex-wrap: wrap;
    height: 940px;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 75%;
      height: 34%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 38%;
      height: 47%; }
    .section-6 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 600px) {
  .section-6 {
    flex-wrap: wrap;
    height: 990px;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 85%;
      height: 48%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 81%;
      height: 52%; }
    .section-6 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 500px) {
  .section-6 {
    flex-wrap: wrap;
    height: 1170px;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 90%;
      height: 49%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 88%;
      height: 57%; }
    .section-6 .square-1 {
      margin-left: 0px; } }
@media screen and (max-width: 425px) {
  .section-6 {
    flex-wrap: wrap;
    height: 968px;
    margin: 0 6%; }
    .section-6 .box-r-section-6 {
      width: 100%;
      height: 47%;
      margin-left: 0px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 100%;
      height: 40%; }
      .section-6 .box-l-section-6 .square-1 {
        width: 270px;
        height: 455px;
        margin-left: 42px; }
      .section-6 .box-l-section-6 .square-2 {
        width: 425px;
        height: 320px;
        transform: translate(-62px, 111px);
        background-size: contain; } }
@media screen and (max-width: 378px) {
  .section-6 {
    flex-wrap: wrap;
    height: 1024px;
    margin: 0; }
    .section-6 .box-r-section-6 {
      width: 100%;
      height: 56%;
      margin-left: 32px;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 100%;
      height: 44%; }
      .section-6 .box-l-section-6 .square-1 {
        width: 270px;
        height: 450px;
        margin-left: 46px; }
      .section-6 .box-l-section-6 .square-2 {
        width: 390px;
        height: 220px;
        transform: translate(-62px, 111px);
        background-size: contain; } }
@media screen and (max-width: 320px) {
  .section-6 {
    flex-wrap: wrap;
    height: 1120px;
    margin: 0 4%; }
    .section-6 .box-r-section-6 {
      width: 100%;
      height: 54%;
      align-items: flex-end; }
    .section-6 .box-l-section-6 {
      justify-content: flex-start;
      width: 100%;
      height: 35%; }
      .section-6 .box-l-section-6 .square-1 {
        width: 220px;
        height: 450px;
        margin-left: 35px; }
      .section-6 .box-l-section-6 .square-2 {
        width: 330px;
        height: 320px;
        transform: translate(-62px, 111px);
        background-size: contain; } }
@media screen and (max-width: 1024px) {
  .section-7 {
    height: 540px;
    width: 100%; }
    .section-7 .box-section-7 {
      height: 540px;
      width: 860px; } }
@media screen and (max-width: 768px) {
  .section-7 {
    height: 678px;
    width: 100%; }
    .section-7 .box-section-7 {
      height: 678px;
      width: 300px; }
      .section-7 .box-section-7 h3 {
        font-size: 55px; }
      .section-7 .box-section-7 h4 {
        font-size: 14px; }
      .section-7 .box-section-7 h5 {
        margin-top: 70px; } }
@media screen and (max-width: 425px) {
  .section-7 {
    height: 678px;
    width: 100%; }
    .section-7 .box-section-7 {
      height: 678px;
      width: 300px; }
      .section-7 .box-section-7 h3 {
        font-size: 55px; }
      .section-7 .box-section-7 h4 {
        font-size: 14px; }
      .section-7 .box-section-7 h5 {
        margin-top: 70px; } }
@media screen and (max-width: 378px) {
  .section-7 {
    height: 678px;
    width: 100%; }
    .section-7 .box-section-7 {
      height: 678px;
      width: 300px; }
      .section-7 .box-section-7 h3 {
        font-size: 55px; }
      .section-7 .box-section-7 h4 {
        font-size: 14px; }
      .section-7 .box-section-7 h5 {
        margin-top: 70px; } }
@media screen and (max-width: 320px) {
  .section-7 {
    height: 678px;
    width: 100%; }
    .section-7 .box-section-7 {
      height: 678px;
      width: 300px; }
      .section-7 .box-section-7 h3 {
        font-size: 55px; }
      .section-7 .box-section-7 h4 {
        font-size: 14px; }
      .section-7 .box-section-7 h5 {
        margin-top: 70px; } }
@media screen and (max-width: 1024px) {
  .section-8 {
    width: 100%;
    height: 1380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-8 .box-top-section-8 {
      width: 1170px;
      height: 120px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-8 .box-bottom-section-8 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-8 .box-bottom-section-8 .box-sec-8 {
        width: 360px;
        margin: 0 15px; }
        .section-8 .box-bottom-section-8 .box-sec-8 .img-box-sec-8 {
          width: 360px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 768px) {
  .section-8 {
    width: 100%;
    height: 1380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-8 .box-top-section-8 {
      width: 1170px;
      height: 120px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-8 .box-bottom-section-8 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-8 .box-bottom-section-8 .box-sec-8 {
        width: 360px;
        margin: 0 15px; }
        .section-8 .box-bottom-section-8 .box-sec-8 .img-box-sec-8 {
          width: 360px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 425px) {
  .section-8 {
    width: 100%;
    height: 1430px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-8 .box-top-section-8 {
      width: 1170px;
      height: 150px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-8 .box-bottom-section-8 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-8 .box-bottom-section-8 .box-sec-8 {
        width: 320px;
        margin: 0 15px; }
        .section-8 .box-bottom-section-8 .box-sec-8 .img-box-sec-8 {
          width: 320px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 320px) {
  .section-8 {
    width: 100%;
    height: 1480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .section-8 .box-top-section-8 {
      width: 1170px;
      height: 222px;
      padding-top: 50px;
      margin: 10px;
      display: inline-block; }
    .section-8 .box-bottom-section-8 {
      width: 360px;
      height: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section-8 .box-bottom-section-8 .box-sec-8 {
        width: 290px;
        margin: 0 15px; }
        .section-8 .box-bottom-section-8 .box-sec-8 .img-box-sec-8 {
          width: 290px;
          height: 200px;
          background-size: contain;
          background-repeat: no-repeat; } }
@media screen and (max-width: 1170px) {
  #myBtn {
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 1024px) {
  #myBtn {
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 768px) {
  #myBtn {
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 460px) {
  #myBtn {
    bottom: 50px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 378px) {
  #myBtn {
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 320px) {
  #myBtn {
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 50px; } }
@media screen and (max-width: 426px) {
  #movie {
    background: url("img/sect-2.jpg") center;
    background-size: cover; } }

/*# sourceMappingURL=style.css.map */
