* {
    box-sizing: border-box;
    margin: 0;
}

@import "var";
@import "logo-animation";
@import "menu";


//---Header Top---//

    header {
        width: 100%;
        height: 100vh;
        background: url(../img/header/base.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }


//---Header Bottom---//
.bottom {
    padding-top: 3%;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    .box-left {
        height: 500px;
        width: 35%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            font-family: $font-info-a;
            font-size: 14px;
            color: $color-info-a;
            text-decoration: none;
            text-transform: uppercase;
            margin: 15px;
        }
        p {
            color: yellow;
            font-size: 14px;
            margin-bottom: 1px;
        }
        .fa-angle-left {
            color: yellow;
            padding-left: 5%;
            margin: 20px;
        }
        .fa-angle-right {
            color: yellow;
            margin: 20px;
        }
    }
    .box-right {
        height: 500px;
        width: 65%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        h1 {
            font-family: $font-info-h1;
            font-size: $size-info-h1;
            color: $color-info-h1;
            font-weight: bold;
            transform: translate(91%, -13%);
            text-align: right;
        }
        a {
            font-family: $font-info-a;
            font-size: $size-info-a;
            color: $color-info-a;
            font-weight: bold;
            text-decoration: underline;
            text-transform: uppercase;
            transform: translate(52%, 378%);
        }
        .ring {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            margin-top: 20px;
        }
    }
}
// -----

//Section 1//
.section-1 {
    width: 1170px;
    height: 524px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-l-section-1 {
        width: 46%;
        align-items: center;
        margin-left: 15px;
        margin-right: 50px;
        margin-bottom: 19px;

        h1 {
            font-family: $font-section-h1;
            font-size: $size-section-h1;
            color: $color-section-h1;
            font-weight: 700;
            text-transform: uppercase;
            margin: 15px;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h4;
            margin: 15px;
        }
        p {  
            font-family: $font-section-p;
            font-size: $size-section-p;
            color: $color-section-p;
            margin: 15px;
        }
        a {
            font-family: $font-section-a;
            font-size: $size-section-a;
            color: $color-section-a;
            text-transform: uppercase;
            text-decoration: underline;
            margin: 15px;
        }
        a:hover {
            color: yellow;
        }
    }
    .box-r-section-1 {
        width: 54%;
        display: flex;
        justify-content: center;
        align-items: center;

        .square-1 {
            width: 270px;
            height: 524px;
            margin-left: 30px;
            background: yellow;
            z-index: -1;
            position: absolute;
        }
        .square-2 {
            width: 500px;
            height: 320px;
            background-image: url(../img/sect-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            transform: translate(-117px, 104px);
        }
    }
}

//Section 2//
.section-2-bg {
    width: 100%;
    background: rgb(236, 236, 236);
}
.section-2 {
    width: 1170px;
    height: 686px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-l-section-2 {
        width: 54%;
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .sect-2-img {
            width: 550px;
            height: 486px;
            background-image: url(../img/sect-222.jpg);
            background-size: auto;
            background-repeat: no-repeat;
        }
    }
    .box-r-section-2 {
        width: 50%;
        align-items: center;
        margin: 0 4%;
        margin-left: 15px;
        margin-right: 50px;
        margin-bottom: 18px;
    
        h1 {
            font-family: $font-section-h1;
            font-size: $size-section-h1;
            color: $color-section-h1;
            font-weight: 700;
            text-transform: uppercase;
            margin: 15px 10px;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h4;
            margin: 15px 10px;
        }
        p {  
            font-family: $font-section-p;
            font-size: $size-section-p;
            color: $color-section-p;
            margin: 15px 10px;
        }
        a {
            font-family: $font-section-a;
            font-size: $size-section-a;
            color: $color-section-a;
            text-transform: uppercase;
            text-decoration: underline;
            margin: 15px 10px;
        }
        a:hover {
            color: yellow;
        }
    }
}


//Contact now//
.section-3 {
    width: 100%;
    height: 90px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-now {
        width: 1170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            color: white;
            margin-left: 30px;
            font-weight: 400;
        }
        .btn-contact-now {
            width: 180px;
            height: 40px;
            background: yellow;
            border-radius: 5px 5px;
            border: none;
            margin-right: 20px;
            a {
                color: #002c66;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-size: 19px;
                font-weight: bold;
            }
        }
        .btn-contact-now:hover {
            width: 190px;
            height: 45px;
            a {
                text-decoration: none;
            }
        }
    }
}
// -----

// Section 4//
.section-4 {
    width: 100%;
    height: 688px;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    .box-top-section-4 {
        width: 1170px;
        height: 210px;
        padding-top: 90px;
        margin: 10px 0;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-family: $font-section-h1;
            font-size: $size-section-h1;
            color: $color-section-h1;
            text-transform: uppercase;
            font-weight: bold;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h4;
        }
    }
    .box-bottom-section-4 {
        width: 1170px;
        height: 460px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .box-sec-4 {
            width: 350px;
            margin: 0 15px;
            .img-box-sec-4 {
                width: 350px;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            h2 {
                margin: 25px 0 20px 0;
                font-family: $font-section-h2;
                font-size: $size-section-h2;
                color: $color-section-h2;
                text-transform: uppercase;
                font-weight: bold;
            }
            p {
                font-family: $font-section-p;
                font-size: $size-section-p;
                color: $color-section-p;
            }
        }
    }
}
// -----

// Section 5
.section-5 {
    width: 100%;
    height: 360px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center;
    .box-section-5 {
        width: 1170px;
        margin: 0 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .box-sec-5 {
            margin: 40px;
            h3 {
                font-family: $font-section-h3;
                font-size: $size-section-h3;
                color: $color-section-h3;
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
                letter-spacing: 8px;
            }
            p {
                font-family: $font-section-p;
                font-size: $size-section-p;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}
// -----

// Section 6
.section-6 {
    width: 1170px;
    height: 524px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-l-section-6 {
        width: 55%;
        margin-right: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        .square-1 {
            width: 270px;
            height: 524px;
            margin-left: 0px;
            background: yellow;
            z-index: -1;
            position: absolute;
        }
        .square-2 {
            width: 500px;
            height: 320px;
            transform: translate(-117px, 120px);
            #movie {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                }
            }
            @supports (object-fit: cover) {
                #movie-bg > video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }
    }
    .box-r-section-6 {
        width: 50%;
        align-items: center;
        margin-left: 15px;
        margin-right: 40px;
        margin-bottom: -11px;

        h1 {
            font-family: $font-section-h1;
            font-size: $size-section-h1;
            color: $color-section-h1;
            font-weight: 700;
            text-transform: uppercase;
            margin: 15px;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h4;
            margin: 15px;
        }
        p {  
            font-family: $font-section-p;
            font-size: $size-section-p;
            color: $color-section-p;
            margin: 15px;
        }
        a {
            font-family: $font-section-a;
            font-size: $size-section-a;
            color: $color-section-a;
            text-transform: uppercase;
            text-decoration: underline;
            margin: 15px;
        }
        a:hover {
            color: yellow;
        }
    }
}
// ----- //

// Section 7 //
.section-7 {
    height: 540px;
    width: 100%;
    background: #002c66;
    display: inline-block;
    align-items: center;
    justify-content: center;
    .box-section-7 {
        height: 540px;
        width: 100%;
        padding-top: 6%;
        margin: 0 auto;
        text-align: center;
        h3 {
            font-family: $font-section-h3;
            font-size: 65px;
            color: $color-section-h3;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            letter-spacing: 4px;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h5;
            line-height: 40px;
        }
        h5 {
            font-family: $font-section-h5;
            font-size: $size-section-h5;
            color: $color-section-h5;
            font-weight: bold;
            margin-top: 80px;
            
        }
    }
}
// -----

// Section 8//
.section-8 {
    width: 100%;
    height: 800px;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    .box-top-section-8 {
        width: 1170px;
        height: 210px;
        padding-top: 100px;
        margin: 10px 0;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-family: $font-section-h1;
            font-size: $size-section-h1;
            color: $color-section-h1;
            text-transform: uppercase;
            font-weight: bold;
        }
        h4 {
            font-family: $font-section-h4;
            font-size: $size-section-h4;
            color: $color-section-h4;
        }
    }
    .box-bottom-section-8 {
        width: 1170px;
        height: 460px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .box-sec-8 {
            width: 350px;
            margin: 0 15px;
            .img-box-sec-8 {
                width: 350px;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            h6 {
                margin: 25px 0 15px 35px;
                font-family: $font-section-h6;
                font-size: $size-section-h6;
                color: $color-section-h6;
                text-transform: uppercase;
                font-weight: bold;
            }
            .footer-info {
                margin-left: 35px;
                margin-bottom: 10px;
                a {
                    font-family: $font-section-p;
                    font-size: $size-section-p;
                    color: #002c66;
                }
            }
            .fa-map-marker-alt {
                color: #002c66;
                margin-right: 15px;
            }
            .fa-mobile-alt {
                color: #002c66;
                margin-right: 15px;
            }
            .fa-envelope {
                color: #002c66;
                margin-right: 9px;
            }
        }
    }
}
// -----

// Section 9
.section-9 {
    width: 100%;
    height: 80px;
    background: #002c66;
    display: flex;
    align-items: center;
    justify-content: center;
    .box-section-9 {
        width: 1170px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6 {
            font-family: $font-section-h6;
            font-size: $size-section-h6;
            color: white;
            margin-left: 30px;
            a {
                font-family: $font-section-h6;
                font-size: $size-section-h6;
                color: yellow;
            }
        }
        .social-networks {
            margin-right: 30px;
            .fa-facebook-f{
                color: white;
                margin-left: 10px;
            }
            .fa-twitter {
                color: white;
                margin-left: 10px;
            }
            .fa-google-plus-g {
                color: white;
                margin-left: 10px;
            }
            .fa-instagram {
                color: white;
                margin-left: 10px;
            }
            .fa-instagram:hover {
                color: #F77737;
            }
            .fa-google-plus-g:hover {
                color: #FD1D1D;
            }
            .fa-twitter:hover {
                color: #00acee;
            }
            .fa-facebook-f:hover {
                color: #3b5998;
            }
        }
    }
}

// Go top
#myBtn{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4696ff; /* Set a background color */
    color: white; /* Text color */
    font-weight: bold;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px 25px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
    font-size: 40px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: rgb(83, 178, 255); /* Add a dark-grey background on hover */
}
// -----
@import "media";
